{% extends 'matmgmt/index_bootstrap.html' %}
{% block title %}
<title>Add stock</title>
{% load static %}
<link rel="stylesheet" href="{% static 'matmgmt/bootstrapTabless/css/bootstrap-table.min.css' %}">
<link href="{% static 'matmgmt/bootstrapTabless/css/bootstrap-table-sticky-header.css' %}" rel="stylesheet">

{% endblock %}
{% block addstock_active %}
bg-danger border-0 rounded
{% endblock %}
{% block content %}



<div class="container-fluid text-white">
	{% if part_master %}
	<div id="toolbar">
		<select class="form-control">
				<!-- <option value="">Export Basic</option> -->
				<option value="all">Export All</option>
				<!-- <option value="selected">Export Selected</option> -->
		</select>
	</div>
	<h4 class="display-4 text-center pb-3">Material Master Record</h4>
	<table 
	id="table" data-toggle="table"
	data-filter-control="true"
	data-toolbar="#toolbar"
	data-pagination="true"
	data-show-export="true"
	data-show-columns="true" 
	data-sticky-header = "true"

	data-show-toggle="false"
	data-search="false"
	data-click-to-select="false"
	data-height#_="600"
	class="tab-hide"
	classs="text-center table table-striped table-responsive-sm table-sm table-bordered table-hover " style="display: none">
		<thead class="text-warning font-weight-light">
			<tr >
				<!-- <th data-filter-control-placeholder ='search..' data-field="state" data-checkbox="false"></th> -->
				<th class="pt-5" data-filter-control-placeholder ='search..' data-field="BEL PART NUMBER" data-sortable="true" data-filter-control="input">BEL PART NUMBER</th>
				<th data-filter-control-placeholder ='search..' data-field="MPN" 			 data-sortable="true" data-filter-control="input">MPN</th>
				<th data-filter-control-placeholder ='search..' data-field="DESCRIPTION" 	 data-sortable="true" data-filter-control="input">DESCRIPTION</th>
				<th data-filter-control-placeholder ='select..' data-field="USER" 			 data-sortable="true" data-filter-control="select">USER</th>
				<th data-filter-control-placeholder ='search..' data-field="EDIT" 			 data-sortable="true" data-filter-control="input">EDIT</th>
			</tr>
		</thead>
		<tbody class="text-white">
			{%load static%}
			{% for part in part_master %}
			
			<tr id="tr-id-{{ forloop.counter }}" class="tr-class-{{ forloop.counter }}">
				<!-- <td class="bs-checkbox "><input data-index="{{forloop.counter0 }}" name="btSelectItem" type="checkbox"></td> -->
				<td id="td-id-{{ forloop.counter }}" class="td-class-{{ forloop.counter }}">{{ part.belPartNo.belPartNo}}</td>		
				<td>{{ part.mpn|upper }}</td>
				<td>{{ part.description | title }}</td>
				<td>{{ part.user.first_name | title  }}</td>
				<td>
					
					<p class=""><a data-toggle="tooltip" title="CLICK TO ADD STOCK" class="text-white btn btn-sm btn-success" href="{% url 'add-stock' part.id %}">Add Stock</a></p>

					<a class="text-white pr-3"  data-toggle="tooltip" title="EDIT" href="{% url 'material-edit' part.id %}" onclick='popupWindow()'><i class="fas fa-edit"></i></a>
					
					<a class="text-white pr-3"  data-toggle="tooltip" title="DELETE" href="{% url 'material-delete' part.id %}" onclick='popupWindow()'><i class="fas fa-trash-alt "></i></a>
				</td>
			</tr>
			
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p class="text-center lead">There are no parts created in Database...</p>
	{% endif %}
	
	<p class="text-center"><a data-toggle="tooltip" title="CLICK TO ADD NEW PART" href='{% url "add-material" %}'><button class="btn mx-auto btn-lg btn-outline-success text-white border border-white mt-4">ADD NEW PART</button></a> </p>
	
</div>
{% endblock %}

{% block script %}
	<!-- <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script> -->

<script src="{% static 'matmgmt/bootstrapTabless/js/tableExport.min.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/jspdf.min.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/bootstrap-table-filter-control.min.js' %}"></script>
<script src="{% static 'matmgmt/bootstrapTabless/js/bootstrap-table-sticky-header.min.js' %}"></script>

<script>
	var $table = $('#table')
  
	$(function() {
	  $('#toolbar').find('select').change(function () {
		$table.bootstrapTable('destroy').bootstrapTable({
		  exportDataType: $(this).val(),
		  exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
		  columns: [
			{
			  field: 'BEL PART NUMBER',
			  title: 'BEL PART NUMBER'
			},{
			  field: 'MPN',
			  title: 'MPN'
			}, {
			  field: 'DESCRIPTION',
			  title: 'DESCRIPTION'
			}, {
			  field: 'USER',
			  title: 'USER'
			}, {
			  field: 'EDIT',
			  title: 'EDIT'
			},
		  ]
		})
	  }).trigger('change')
	})
  </script>
    <script src="{% static 'matmgmt/jscript/table_hide.js' %}"></script>


	{% endblock %}